## dictionaries practice

# Sequence of key : and value , {}
# Syntax: Dictname= { key:value, key1:value1}
#1. Key can't be changed in dictionary
#2. But value of key can be changed
#3. Key can be an integor or string or float
#4. Key can't be duplicate but value can be duplicate
#5. dictonary is unordered - no ordered
#6. No indexing and no slicing
#7. with the Key, we can access value

# note both sets and dictionaries are unordered and no indexing and slicing.

In [1]:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [2]:
# 3 types you can write the dictionary
dic12 = {'name': 'lakshmi', 'age':55}
print(dic12)

{'name': 'lakshmi', 'age': 55}

In [3]:
dict13 = {}
dict13['name'] = 'laskhmi'
dict13['age'] = 55
print(dict13)

{'name': 'laskhmi', 'age': 55}

In [4]:
dict13 =([['name','lakshmi'], ['age', '55']])
print(dict13)

[['name', 'lakshmi'], ['age', '55']]

In [ ]:
# key can be an integer, float and string

In [5]:
pot= {1510:'dhana lakshmi', 1511:'sriveni', 1512:'geetha srividhya'}
print (pot)

{1510: 'dhana lakshmi', 1511: 'sriveni', 1512: 'geetha srividhya'}

In [6]:
pot2={'A': 100,'B': 200,'C':300} # keys as strings and values are like integors
print (pot2)
print(pot2.values()) # values will be printed
print(pot2.keys()) #keys will be printed
print(pot2.items())  #keys and values will be printed.

{'A': 100, 'B': 200, 'C': 300}
dict_values([100, 200, 300])
dict_keys(['A', 'B', 'C'])
dict_items([('A', 100), ('B', 200), ('C', 300)])

In [7]:
pot4={1101:'harsha', 1102:'harsha', 1105: 'Mohan', 1103:'Mohan',1104:'Mohan'}
print (pot4) #Key duplicate will not accept, but value can be duplicate

{1101: 'harsha', 1102: 'harsha', 1105: 'Mohan', 1103: 'Mohan', 1104: 'Mohan'}

In [8]:
pot5={'name':['Abhi', 'Akshaya', 'Mohamed', 'Ramya'], 'age':(22, 23, 24, 26), 'height': (166.4, 180.2,177.1,156.4)}
print(pot5)

{'name': ['Abhi', 'Akshaya', 'Mohamed', 'Ramya'], 'age': (22, 23, 24, 26), 'height': (166.4, 180.2, 177.1, 156.4)}

In [9]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [10]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

## copy

In [11]:
#copy
por1={1101:'harsha', 1102:'Abhilash', 1103: 'Bhoopal', 1104:'Mohan',1105:'harsha'}
por2=por1.copy()
print(por2)

{1101: 'harsha', 1102: 'Abhilash', 1103: 'Bhoopal', 1104: 'Mohan', 1105: 'harsha'}

In [12]:
##clear
por1={1101:'harsha', 1102:'Abhilash', 1103: 'Bhoopal', 1104:'Mohan',1105:'harsha'}
por1.clear()
print(por1)

{}

In [13]:
#delete
xx={'name':'Dhruvika', 'age': '13', 'subject':'physics', 'adress':'GLK 308b hvidovre'}
del(xx['age'])
print(xx)

{'name': 'Dhruvika', 'subject': 'physics', 'adress': 'GLK 308b hvidovre'}

In [14]:
##copy
por1={1101:'harsha', 1102:'Abhilash', 1103: 'Bhoopal', 1104:'Mohan',1105:'harsha'}
por2=por1.copy()
print(por2)

{1101: 'harsha', 1102: 'Abhilash', 1103: 'Bhoopal', 1104: 'Mohan', 1105: 'harsha'}

## clear

In [15]:
por1={1101:'harsha', 1102:'Abhilash', 1103: 'Bhoopal', 1104:'Mohan',1105:'harsha'}
por1.clear()
print(por1)

{}

## fromkeys

In [ ]:
# we ue it where value is same but keys are different

In [16]:
rex ={}.fromkeys(['raju', 'ramya', 'nainika','lakshmi'], 98)
print(rex)

{'raju': 98, 'ramya': 98, 'nainika': 98, 'lakshmi': 98}

In [17]:
#another method fromkeys
sub= {}.fromkeys(['Maths','Science','Engineering', 'Software'], 60) # keys are different but values ae same
print (sub)

{'Maths': 60, 'Science': 60, 'Engineering': 60, 'Software': 60}

In [18]:
subjects_all={}.fromkeys(['maths','science','engineering','software'], 40)#keys are different but values ae same
print(subjects_all)

{'maths': 40, 'science': 40, 'engineering': 40, 'software': 40}

##get

In [19]:
dvc={'name':'nainika', 'age': '13', 'subject':'physics', 'adress':'hvidovre'}
print (dvc.get('name'))
print (dvc.get('age')) 
print (dvc.get('subject'))
## or
print(dvc['subject'])

nainika
13
physics

'physics'

In [20]:
####  no duplicate key , if there the last one is  only shown.
pot3={1101:'harsha', 1102:'Abhilash', 1102: 'Bhoopal', 1102:'Mohan',1102:'harsha'} # duplicate key with 1102
print (pot3) #Key duplicate will not accept, but value can be duplicate

{1101: 'harsha', 1102: 'harsha'}

In [21]:
pot13={1101:'harsha', 1102:'Abhilash', 1103: 'Bhoopal', 1104:'Mohan',1105:'harsha'} # duplicate key with 1102
print (pot13.get(1101))
print (pot13.get(1105)) 
print (pot13.get(1104))
pot13[1101]

harsha
harsha
Mohan

'harsha'

##items

In [22]:
#length
dict11 ={1111:'python', 1112 : 'java', 1113 : 'data science'}
print(len(dict11))
print(max(dict11))
print(min(dict11))
print(sum(dict11))
dict11[1112]

3
1113
1111
3336

'java'

In [ ]:
##setdefault: access the value through key.

In [23]:
rx={'name':'nainika', 'age': '13', 'subject':'physics', 'adress':'GLK 308b hvidovre'}
print(rx.setdefault('age'))
print(rx.setdefault('bloodgroup', 'AB+ve'))
print(rx.setdefault('surname')) # if its not there it will show none
print(rx)

13
AB+ve
None
{'name': 'nainika', 'age': '13', 'subject': 'physics', 'adress': 'GLK 308b hvidovre', 'bloodgroup': 'AB+ve', 'surname': None}

## keys

In [24]:
rx={'name':'nainika', 'age': '13', 'subject':'physics', 'adress':'GLK 308b hvidovre'}
print(rx.keys())

dict_keys(['name', 'age', 'subject', 'adress'])

#values

In [25]:
print(rx.values())

dict_values(['nainika', '13', 'physics', 'GLK 308b hvidovre'])

In [26]:
print(rx.items())

dict_items([('name', 'nainika'), ('age', '13'), ('subject', 'physics'), ('adress', 'GLK 308b hvidovre')])

##pop

In [27]:
rx={'name':'nainika', 'age': '13', 'subject':'physics', 'adress':'GLK 308b hvidovre'}
print (rx.pop('age')) # it prints the pop value but removes that from dict
print(rx)

13
{'name': 'nainika', 'subject': 'physics', 'adress': 'GLK 308b hvidovre'}

In [28]:
kx={'name':'nainika', 'age': '13', 'subject':'physics', 'adress':'GLK 308b hvidovre'}
print (kx.pop('name')) # it prints the pop value but removes that from dict
print(kx)

nainika
{'age': '13', 'subject': 'physics', 'adress': 'GLK 308b hvidovre'}

In [29]:
ad={'name':'nainika', 'age': '13', 'subject':'physics', 'adress':'hvidovre'}
print (ad.pop('subject')) # it prints the pop value but removes that from dict
print(ad)

physics
{'name': 'nainika', 'age': '13', 'adress': 'hvidovre'}

##popitem

In [30]:
print (ad.popitem()) # it randomly remove any of the key value pair
print (ad)

('adress', 'hvidovre')
{'name': 'nainika', 'age': '13'}

In [31]:
knm={'name':'Dhruvika', 'age': '13', 'subject':'physics', 'adress':'GLK 308b hvidovre'}
print(knm.popitem())
print(knm)

('adress', 'GLK 308b hvidovre')
{'name': 'Dhruvika', 'age': '13', 'subject': 'physics'}

In [32]:
#delete
kp={'name':'Dhruvika', 'age': '13', 'subject':'physics', 'adress':'GLK 308b hvidovre'}
del(kp['name'])
print(kp)

{'age': '13', 'subject': 'physics', 'adress': 'GLK 308b hvidovre'}

## set default

In [33]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

### update

In [34]:
ab = {'name': 'dhruvika', 'age':14, 'location': 'copenhagen'}
ef = {'school': 'langhøj', 'blood group':'ab+ve'}
ab.update(ef)
print(ab)

{'name': 'dhruvika', 'age': 14, 'location': 'copenhagen', 'school': 'langhøj', 'blood group': 'ab+ve'}

##values

In [35]:
dw={'name':'nainika', 'age': '13', 'subject':'physics', 'adress':'hvidovre'}
print(dw.values())
print(dw.keys())
print(dw.items())

dict_values(['nainika', '13', 'physics', 'hvidovre'])
dict_keys(['name', 'age', 'subject', 'adress'])
dict_items([('name', 'nainika'), ('age', '13'), ('subject', 'physics'), ('adress', 'hvidovre')])

In [37]:
wf ={'school':'langhøj school'}
dw.update(wf)
print(dw)

{'name': 'nainika', 'age': '13', 'subject': 'physics', 'adress': 'hvidovre', 'school': 'langhøj school'}

In [38]:
marks={'balu': 82, 'ram':92, 'krishna':33, 'ratna':95, 'harsha':17}
for i in marks.values():
    if i>30:
        print (i)

82
92
33
95

In [39]:
marks={'balu': 82, 'ram':92, 'krishna':33, 'ratna':95, 'harsha':17}
for i in marks.keys():
          print (i)

balu
ram
krishna
ratna
harsha

In [40]:
marks={'balu': 82, 'ram':92, 'krishna':33, 'ratna':95, 'harsha':17}
for i in marks.values():
          print (i)

82
92
33
95
17

In [41]:
marks={'balu': 82, 'ram':92, 'krishna':33, 'ratna':95, 'harsha':17}
for i in marks.items():
          print (i)

('balu', 82)
('ram', 92)
('krishna', 33)
('ratna', 95)
('harsha', 17)

In [42]:
### merging dictionaries
dict15 ={'balu': 82, 'ram':92, 'krishna':33, 'ratna':95, 'harsha':17}
dict16 = {'name':'nainika', 'age': '13', 'subject':'physics', 'adress':'hvidovre'}
dict17 ={1101:'harsha', 1102:'Abhilash', 1103: 'Bhoopal', 1104:'Mohan',1105:'harsha'}
final_dict= {**dict15,**dict16,**dict17}
print(final_dict)

{'balu': 82, 'ram': 92, 'krishna': 33, 'ratna': 95, 'harsha': 17, 'name': 'nainika', 'age': '13', 'subject': 'physics', 'adress': 'hvidovre', 1101: 'harsha', 1102: 'Abhilash', 1103: 'Bhoopal', 1104: 'Mohan', 1105: 'harsha'}

In [43]:
dict15.update(dict16)
dict15.update(dict17)
print(dict15)

{'balu': 82, 'ram': 92, 'krishna': 33, 'ratna': 95, 'harsha': 17, 'name': 'nainika', 'age': '13', 'subject': 'physics', 'adress': 'hvidovre', 1101: 'harsha', 1102: 'Abhilash', 1103: 'Bhoopal', 1104: 'Mohan', 1105: 'harsha'}